@import url("https://fonts.googleapis.com/css?family=Inter");
@import url("https://fonts.googleapis.com/css?family=Archivo");

:root {
  --myblue: #5ba8e7; /* #5BA8E7 #2F91E0*/
  --txtcolor: #0D0D0D;
  --subtxtcolor: #757575;
  --mygradient: linear-gradient(130deg, #3f85ab 10%, #003e5c 70%);
  --strokecolor: #f3f3f3;
  --bgcolor: #fefefe;
  --darkTxtColor: #423d51;
  --negative: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-weight: 900;
  scroll-behavior: smooth;
}

body {
  background: var(--bgcolor);
  background-attachment: fixed;
  position: flex;
}

body h2 {
  color: var(--myblue);
  font-family: 'Archivo', sans-serif;
  letter-spacing: 5px;
  margin-bottom: 20px;
  font-weight: 100;
}

body h1 {
  color: var(--txtcolor);
  font-family: 'Archivo', sans-serif;
  margin-bottom: 10px;
  font-weight: 100;
}

body h3 {
  color: var(--subtxtcolor);
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
}

/* BACKGROUND */
.background {
  position: flex;
}

.gradient_container {
  position: absolute;
  height: 120vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: -10;
}

.gradient {
  background: var(--mygradient);
  height: 150vh;
  width: 140%;
  rotate: -12deg;
  transform: translateY(-45%);
  position: absolute;
  z-index: -5;
}

.lettering {
  background-image: url("resources/logo.png");
  opacity: 0%;
  background-size: 40vh;
  background-repeat: repeat-x;
  background-position: center;
  height: 20vh;
  width: 140%;
  rotate: -12deg;
  transform: translateY(35%);
  position: absolute;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.stroke {
  background-color: var(--strokecolor);
  height: 10vh;
  width: 140%;
  rotate: -12deg;
  transform: translateY(125%);
  position: absolute;
  z-index: 5;
}
