@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css?family=Archivo');

:root {
 --myblue: #2F91E0;
 --mygradient: linear-gradient(130deg, #3F85AB 10%,  #003E5C 70%);
 --strokecolor: #f3f3f3;
 --bgcolor: #fefefe;
 --darkTxtColor: #423D51;
}



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-weight: 900;
  scroll-behavior: smooth;
}

body {
  background: var(--bgcolor);
  background-attachment: fixed;
}

/* BACKGROUND */
.gradient_container {
  position: absolute;
  height: 120vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.gradient {
  background: var(--mygradient);
  height: 150vh;
  width: 140%;
  rotate: -12deg;
  transform: translateY(-45%);
  position: absolute;
  z-index: -1;
}


.lettering {
  background-image: url("resources/logo.png");
  opacity: 0%;
  background-size: 40vh;
  background-repeat: repeat-x;
  background-position: center;
  height: 20vh;
  width: 140%;
  rotate: -12deg;
  transform: translateY(35%);
  position: absolute;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.stroke {
  background-color: var(--strokecolor);
  height: 10vh;
  width: 140%;
  rotate: -12deg;
  transform: translateY(125%);
  position: absolute;
  z-index: 5;
}

/* NAVBAR */
.navbar {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
}

#navbar_logo {
  align-items: center;
  cursor: pointer;
  transition: all 0.75s ease-in-out;
}

.navbar_logo {
  background-size: 50%;
  display: flex;
  padding: 10px 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  z-index: -10;
}

#navbar_logo_scroll {
  align-items: flex-end;
  opacity: 4%;
  rotate: -12deg;
  scale: 8;
  transform: translateY(50%) translateX(40%);
  transition: all 1s ease-in-out;
}

.navbar_menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar_item {
  padding: 11px;
  display: flex;
}

.navbar_links img {
  height: 10px;
  align-self: center;
  margin-left: 12px;
  animation: bouce_rotation_back 0.8s ease-in-out 1;
  animation-fill-mode: forwards;
  -webkit-animation: bouce_rotation_back 0.8s ease-in-out 1;
  -webkit-animation-fill-mode: forwards;
}

@keyframes bouce_rotation_back {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(200deg);
  }
  100% {
    transform: rotate(180deg);
  }
}


.navbar_links {
  color: #fff;
  font-weight: 100;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 110px;
  text-decoration: none;
  height: 100%;
  border-radius: 10px 10px 10px 10px;
  transition: all 0.3s;
}

.navbar_links a {
  color: #fff;
  font-weight: 100;
  align-items: center;
  text-decoration: none;
}






/* LANGUAGE */


/* Style the dropdown menu */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: #fefefe;
  min-width: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: 110px;
  transform: translateX(-10px);
  z-index: 1;
  border-radius: 0 0 10px 10px;
}

.dropdown-content b {
  color: #181a1b;
  padding: 12px 0px;
  font-weight: 100;
  letter-spacing: 0px;
  text-decoration: none;
  display: block;
  border-radius: 0 0 10px 10px;
  transition: all 0.3s;
}


.dropdown-content b:hover:nth-child(1) {
  background-color: #ddd;
  letter-spacing: 1px;
  border-radius: 0;
}

.dropdown-content b:hover:nth-child(2) {
  background-color: #ddd;
  letter-spacing: 1px;
  border-radius: 0 0 10px 10px;
}


.show {
  display: none;
}



/* NAVBAR ICONS */

.navbar_icons img {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  text-decoration: none;
  height: 100%;
  scale: 0.5;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}

.navbar_icons:active {
  background-color: brown;
}

.navbar_icons:hover {
  color: var(--myblue);
  background-color: #fefefe;
  border-radius: 10px 10px 10px 10px;
  cursor: pointer;
  transition: letter-spacing 0.2s;
}

.navbar_icons:hover img {
  filter: brightness(0) saturate(100%) invert(65%) sepia(64%) saturate(4456%) hue-rotate(183deg) brightness(90%) contrast(93%);
  transform: scale(1.3) rotate(-12deg);
  transition: transform 0.3s ease-out;
}





@keyframes theme {
  0% {
    transform: rotate(360deg);
  }
  25% {
    scale: 0.3;
  }
  100% {
    transform: rotate(0deg);
  }
}







.navbar_links:hover {
  color: var(--myblue);
  background-color: #fefefe;
  letter-spacing: 1px;
  border-radius: 10px 10px 10px 10px;
  cursor: pointer;
  transition: letter-spacing 0.2s;
}

.navbar_links:hover .show {
  display: block;
}

.navbar_links:hover img {
  rotate: 180deg;
  filter: brightness(0) saturate(100%) invert(65%) sepia(64%) saturate(4456%) hue-rotate(183deg) brightness(90%) contrast(93%);
  animation: bouce_rotation 0.8s ease-in-out 1;
  -webkit-animation: bouce_rotation 0.8s ease-in-out 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  cursor: pointer;
}

@keyframes bouce_rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(200deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.navbar_links:hover a {
  color: var(--myblue);
}


.navbar_icons:hover {
  color: var(--myblue);
}   


@media screen and (max-width: 960px) {
    :root {
      --mygradient: linear-gradient(130deg, #003E5C 50%,  #011926 80%);
    }
    .gradient {
        width: 160%;
    }

    .lettering {
        opacity: 20%;
        transition: 0.3s ease-in-out;
    }

    .navbar_mobile {
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        text-decoration: none;
        height: 100%;
        scale: 0.5;
        cursor: pointer;
    }
  
    .navbar_links {
      opacity: 0;
    }

    .navbar_icons {
      opacity: 0;
    }

    #navbar_logo_scroll {
      background-size: 50%;
      display: flex;
      align-items: flex-end;
      opacity: 0%;
      scale: 2;
      rotate: 30deg;
      transform: translateY(-500%);
    } 
  
    #mobile-menu {
      position: absolute;
      top: 12%;
      right: 6%;
      transform: translate(5%, 20%);
    }
}

/* Hero Section */
.hero {
    padding: 0px 30px;
  }
  
  #archivo {
    font-family: 'Archivo', sans-serif;
  }
  
  .hero_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: left;
    padding: 80px 5px 0 0;
  }
  
  .hero_name {
    font-weight: 100;
    font-stretch: wider;
    font-size: 30px;
    letter-spacing: 10px;
    opacity: 75%;
    margin-bottom: 30px;
    color: #fff;
  }
  
  .hero_desc {
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 30px;
    color: #fff;
  }

  .hero_phrase {
    font-size: 16px;
    letter-spacing: 2px;
    opacity: 70%; 
    font-weight: lighter;
    margin-bottom: 30px;
    color: #fff;
  }
  
  .hero_btn {
    color: #fff;
    text-decoration: none;
    border: 2px solid black;
    padding: 14px 20px;
    width: 184px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    border-color: #fff;
    color: #fff;
    transition: all 0.2s ease-in-out;
    z-index: 4;
  }
  
  .hero_btn:hover {
    cursor: pointer;
    background-color: #fff;
    color: var(--myblue);
    transform: scale(1.075);
    letter-spacing: 2px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  }

  @media screen and (max-width: 800px) and (min-height: 768px) {
    .hero_name {
      font-size: 20px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .hero_name {
      font-size: 20px;
      letter-spacing: 5px;
    }
  
    .hero_desc {
      font-size: 42px;
    }

    .hero_phrase {
      font-size: 15px;
      letter-spacing: 0px;
    }
  }
  
/* CARD SECTION */
/*.cards {
  display: grid;
  justify-content: center;
  align-items: top;
  height: 100%;
  padding: 10rem 0;
  z-index: 50;
}*/

.cards_wrapper {
  display: flex;
  justify-content: flex-end;
  height: 80px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
  z-index: 50;
}

.card {
  margin: 10px 40px 10px 10px;
  height: 321px;
  width: 288px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  transition: 0.3s ease-in;
  z-index: 5;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
  background: var(--bgcolor);
}

.card img {
  height: 85px;
  width: 85px;
  margin-top: 40px;
  object-fit: cover;
  align-self: center;
  z-index: 5;
  transition: 0.3s ease-in-out;
}

.card p {
  font-family: 'Inter', sans-serif;
  font-weight: lighter;
  text-align: center;
  margin-top: 16px;
  padding: 0px 50px 0px 50px;
  font-size: 16px;
  color: var(--darkTxtColor);
  transition: 0.3s ease-in-out;
}

.card_btn {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.card a {
  text-decoration: none;
  border: 1px solid black;
  background-color: var(--bgcolor);
  padding: 14px 60px;
  border-radius: 10px;
  margin: 30px 50px 0px 50px;
  cursor: pointer;
  font-size: 1rem;
  border-color: var(--myblue);
  color: var(--myblue);
  transition: all 0.2s ease-in-out;
}

.card a:hover {
  cursor: pointer;
  background-color: var(--myblue);
  color: #fff;
  transform: scale(1.075);
  letter-spacing: 2px;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

.card:hover{
  transform: scale(1.075);
  transition: 0.3s ease-in-out; 
}

.card:hover p {
  letter-spacing: 0.5px;
  transition: 0.3s ease-in-out;
}

.card:hover img {
  animation: rotate ease-in-out 0.3s;
  -webkit-animation: rotate ease-in-out 0.3s;
  transform: scale(1.1);
}


@media screen and (max-width: 698px) {
  .cards_wrapper {
    display: inline-table;
    align-items: flex-end;
    transform: translateX(10vw);
  }
}
  